// Basic color palette provided by the design team for general layout
$color-primary: #919AA3;
$color-secondary: #03c0c0;

$color-primary-light: #d9dadb;
$color-secondary-light: #fff;

 
//Basic colors for text
$color-txt-primary: #8d8a8a; 
$color-txt-secondary: #171C34;
$color-txt-light:  #fff;
$color-txt-dark: #000;




// Action colors provided for highlighted elements
$color-highlight-txt: red;
$color-highlight-elem: pink;




